[submodule "team-name-application"]
	path = team-name-application
	url = git@github.com:luigi617/team-name-application.git
[submodule "team-name-database"]
	path = team-name-database
	url = git@github.com:luigi617/team-name-database.git
[submodule "team-name-UI"]
	path = team-name-UI
	url = git@github.com:luigi617/team-name-UI.git
