[submodule "frontend"]
	path = frontend
	url = git@github.com:team-name-4153/frontend.git
[submodule "backend"]
	path = backend
	url = git@github.com:team-name-4153/backend.git
[submodule "Comment_Service"]
	path = Comment_Service
	url = git@github.com:team-name-4153/Comment_Service.git
