[submodule "backend"]
	path = backend
	url = git@github.com:team-name-4153/backend.git
[submodule "Comment_Service"]
	path = Comment_Service
	url = git@github.com:team-name-4153/Comment_Service.git
[submodule "Streaming_Service"]
	path = Streaming_Service
	url = git@github.com:team-name-4153/Streaming_Service.git
[submodule "Recommendation_Service"]
	path = Recommendation_Service
	url = git@github.com:team-name-4153/Recommendation_Service.git
[submodule "Authentication_Service"]
	path = Authentication_Service
	url = https://github.com/team-name-4153/Authentication_Service.git
[submodule "Comment_Service_Socket"]
	path = Comment_Service_Socket
	url = git@github.com:team-name-4153/Comment_Service_Socket.git
[submodule "Steam_API_Management"]
	path = Steam_API_Management
	url = git@github.com:team-name-4153/Steam_API_Management.git
